@font-face {
  font-family: 'KGCastlesCrumbling';
  src: url('KGCastlesCrumbling.otf') format('opentype'),
       url('KGCastlesCrumbling.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}